gateway/node_modules
gateway/dist

users/node_modules
users/dist

user_db.env

events/__pycache__
events/env
events/.env
events/media
events/scripts/flow/*/.flowconfig
events/.flowconfig
events/events_env


search/__pycache__
search/env
search/.env
search/media
search/scripts/flow/*/.flowconfig
search/.flowconfig
search/search_env